src/LogicApps/sb-monitor-auto-failover/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP_-_Namespace_Status_Check": {
                "inputs": {
                    "authentication": {
                        "identity": "@{parameters('managed_identity_id')}",
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{parameters('subscription_id')}/resourceGroups/@{parameters('resource_group_name_primary')}/providers/Microsoft.ServiceBus/namespaces/@{parameters('service_bus_namespace_primary')}?api-version=2024-01-01"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    },
                    "requestOptions": {
                        "timeout": "PT10S"
                    }
                },
                "type": "Http"
            },
            "HTTP_-_Queue_Status_Check": {
                "inputs": {
                    "authentication": {
                        "identity": "@{parameters('managed_identity_id')}",
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{parameters('subscription_id')}/resourceGroups/@{parameters('resource_group_name_primary')}/providers/Microsoft.ServiceBus/namespaces/@{parameters('service_bus_namespace_primary')}/queues/@{parameters('service_bus_queue')}?api-version=2024-01-01"
                },
                "runAfter": {
                    "Parse_JSON_-_Namespace": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    },
                    "requestOptions": {
                        "timeout": "PT10S"
                    }
                },
                "type": "Http"
            },
            "If_200_Status_Codes_and_Active_Status": {
                "actions": {},
                "else": {
                    "actions": {
                        "If_Approved": {
                            "actions": {
                                "HTTP_-_Test_Reset_-_Activate_Queue": {
                                    "inputs": {
                                        "authentication": {
                                            "identity": "@{parameters('managed_identity_id')}",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "properties": {
                                                "status": "Active"
                                            }
                                        },
                                        "method": "PUT",
                                        "uri": "https://management.azure.com/subscriptions/@{parameters('subscription_id')}/resourceGroups/@{parameters('resource_group_name')}/providers/Microsoft.ServiceBus/namespaces/@{parameters('service_bus_namespace_primary')}/queues/@{parameters('service_bus_queue')}?api-version=2024-01-01"
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        },
                                        "requestOptions": {
                                            "timeout": "PT10S"
                                        }
                                    },
                                    "type": "Http"
                                },
                                "HTTP_-_Trigger_Failover": {
                                    "inputs": {
                                        "authentication": {
                                            "identity": "@{parameters('managed_identity_id')}",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "POST",
                                        "uri": "https://management.azure.com/subscriptions/@{parameters('subscription_id')}/resourceGroups/@{parameters('resource_group_name_secondary')}/providers/Microsoft.ServiceBus/namespaces/@{parameters('service_bus_namespace_secondary')}/disasterRecoveryConfigs/@{parameters('service_bus_alias')}/failover?api-version=2024-01-01"
                                    },
                                    "runAfter": {
                                        "HTTP_-_Test_Reset_-_Activate_Queue": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        },
                                        "requestOptions": {
                                            "timeout": "PT10S"
                                        }
                                    },
                                    "type": "Http"
                                }
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Send_approval_email')?['SelectedOption']",
                                            "Approve"
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Send_approval_email": [
                                    "SUCCEEDED"
                                ]
                            },
                            "type": "If"
                        },
                        "Send_approval_email": {
                            "inputs": {
                                "body": {
                                    "Message": {
                                        "HideHTMLMessage": false,
                                        "Importance": "Normal",
                                        "Options": "Approve, Reject",
                                        "ShowHTMLConfirmationDialog": false,
                                        "Subject": "Service Bus Outage - Failover Approval Request",
                                        "To": "@{parameters('notification_email')}"
                                    },
                                    "NotificationUrl": "@listCallbackUrl()"
                                },
                                "host": {
                                    "connection": {
                                        "referenceName": "office365"
                                    }
                                },
                                "path": "/approvalmail/$subscriptions"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "or": [
                                {
                                    "equals": [
                                        "@outputs('HTTP_-_Namespace_Status_Check')?['statusCode']",
                                        200
                                    ]
                                },
                                {
                                    "equals": [
                                        "@outputs('HTTP_-_Namespace_Status_Check')?['statusCode']",
                                        202
                                    ]
                                }
                            ]
                        },
                        {
                            "or": [
                                {
                                    "equals": [
                                        "@outputs('HTTP_-_Queue_Status_Check')?['statusCode']",
                                        200
                                    ]
                                },
                                {
                                    "equals": [
                                        "@outputs('HTTP_-_Queue_Status_Check')?['statusCode']",
                                        202
                                    ]
                                }
                            ]
                        },
                        {
                            "and": [
                                {
                                    "equals": [
                                        "@body('Parse_JSON_-_Namespace')?['properties']?['status']",
                                        "Active"
                                    ]
                                },
                                {
                                    "equals": [
                                        "@body('Parse_JSON_-_Queue')?['properties']?['status']",
                                        "Active"
                                    ]
                                }
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON_-_Queue": [
                        "SUCCEEDED"
                    ]
                },
                "type": "If"
            },
            "Parse_JSON_-_Namespace": {
                "inputs": {
                    "content": "@body('HTTP_-_Namespace_Status_Check')",
                    "schema": {
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "properties": {
                                "properties": {
                                    "status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_-_Namespace_Status_Check": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            },
            "Parse_JSON_-_Queue": {
                "inputs": {
                    "content": "@body('HTTP_-_Queue_Status_Check')",
                    "schema": {
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "properties": {
                                "properties": {
                                    "status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_-_Queue_Status_Check": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "kind": "Stateful"
}